.app {
  display: flex;
  flex-direction: row;
}
.test-container {
  height: calc(100vh - 125px);
  scroll-snap-align: start;
  overflow-y: auto;
  scrollbar-width: none;
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  margin-top: 15px;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: darkred;
  text-align: center;
}
.placeholder-text {
  height: 100%;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  display: flex;
  align-items: center;
}
