.body {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
  width: 95%;
  min-width: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  background-color: aliceblue;
  padding: 20px 0 20px 0;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(133, 133, 133);
}
.body__title {
  font-size: 40px;
  padding: 10px;
  color: darkblue;
}
.body__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body__content__first {
  margin-top: 10px;
  display: flex;
}
.body__content__first__strtBtn {
  margin-right: 15px;
}
.body__content__first__timer {
  margin-left: 20px;
  width: 100px;
  text-align: right;
}

.body__content__test {
  padding: 30px 10px;
}
.problem {
  margin: 7px;
}

button {
  cursor: pointer;
  border: none;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: black;
  font-size: 15px;
  width: 70px;
  height: 25px;
  border-radius: 12px;
  box-shadow: 2px 2px 2px rgb(133, 133, 133);
}
button:active {
  transform: translateY(2px);
  box-shadow: 1px 1px 1px rgb(100, 100, 100);
  background-color: #333; /* 조금 더 어둡게 */
}
