.test {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 10px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  background-color: aliceblue;
  padding: 20px 0 20px 0;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(133, 133, 133);
}
.test__title {
  font-size: 40px;
  padding: 10px;
  color: darkblue;
}
.test__content {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.test__content__first {
  margin-top: 10px;
  display: flex;
}
.test__content__first__strtBtn {
  margin-right: 15px;
}
.test__content__first__timer {
  margin-left: 20px;
  width: 100px;
  text-align: right;
}

.test__content__test {
  padding: 30px 10px;
}
.problem {
  margin: 7px;
}
.answer {
  border: 1px white solid;
  width: 60px;
  height: 30px;
  font: inherit;
}
.answer.correct {
  background-color: #e8f5e9; /* 연한 초록색 배경 */
  border-color: #4caf50; /* 초록색 테두리 */
}

.answer.incorrect {
  background-color: #ffcdd2; /* 연한 빨간색 배경 */
  border-color: #f44336; /* 빨간색 테두리 */
}

button {
  cursor: pointer;
  border: none;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: black;
  font-size: 15px;
  width: 70px;
  height: 25px;
  border-radius: 12px;
  box-shadow: 2px 2px 2px rgb(133, 133, 133);
}
button:active {
  transform: translateY(2px);
  box-shadow: 1px 1px 1px rgb(100, 100, 100);
  background-color: #333; /* 조금 더 어둡게 */
}

.test:last-child {
  margin-bottom: 150px;
}
