main {
  margin-top: 125px;
}
h2 {
  margin-top: 15px;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: darkred;
}
.main-content-snapping-area {
  margin-top: 125px;
  height: calc(100vh - 125px);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}
