footer {
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.footer-content {
  width: 100%;
}
.footer-content__copyright {
  font-size: 20px;
}
.footer-content__ask {
  font-size: 20px;
  margin-top: 20px;
}
.footer-content__nav {
  margin-top: 20px;
}
a {
  color: rgb(146, 203, 252);
}

.footer-content__nav ul li:hover {
  background-color: dimgray;
}
.footer-content__nav ul li:active {
  background-color: darkgrey;
}
